@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2980b9;
  --secondary-color: #1abc9c;
  --accent-color: #9b59b6;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.accent-color {
  color: var(--accent-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

